.modal-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  max-width: calc(100% - 20px);
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 4px;
  transition: right 0.3s ease-out;
  z-index: 9999;
  transform: translateX(100%);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: opacity 0.3s ease-out;
  opacity: 0;
  pointer-events: none;
}

.modal-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal-overlay .modal-content {
  right: 0;
}

.modal-overlay.active .modal-content {
  transform: translateX(0%);
}
